:root {
  --primary-500: #F4CE14;
  --primary-600: #DDB812;
  --primary-700: #C8A40F;
  --accent-500: #495E57;
  --accent-300: #829A8F;
  --accent-100: #E3E7E5;
  --secondary: #EDEFE0;
  --secondary-hover: #DDE0D2;
  --secondary-pressed: #C8CBBE;
  --primary-text: #1B1B1B;
  --secondary-text: #4A4A4A;
  --muted-text: #7D7D7D;
  --heading-text: #495E57;
  --inverse-text: #FFFFFF;
  --disabled-text: #A9A9A9;
  --background-color: #FFFFFF;
  --background-section: #FAFAF8;
  --border-light: #E1E1ED;
  --disabled: #d7d7d2;
  --primary-font-size: 16px;
  --spacing-small: 8px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
